# Server configuration
PORT=3000

# MongoDB Atlas connection string (optional - app works without it)
MONGODB_URI=mongodb+srv://sammmccchhh_db_user:EyRO3btU1GnyWlza@cluster0.syputvp.mongodb.net/

UPSTASH_REDIS_REST_URL="https://one-stallion-124864.upstash.io"
UPSTASH_REDIS_REST_TOKEN=redis-cli --tls -u redis://default:gQAAAAAAAefAAAIgcDJlMTg3OWZjYzljOTk0ODQzYWJlZWQwMmQ5ZDFiYTMwMw@one-stallion-124864.upstash.io:6379


# JWT Secret for cookie/session signing
JWT_SECRET=some_very_long_random_string_make_sure_it_is_secure_12345