# Server configuration
PORT=3000

# MongoDB Atlas connection string (optional - app works without it)
mongodb+srv://scshernandez:nlPFjWskEH2RpCeZ@cluster0.ex5ccyz.mongodb.net/

# Upstash Redis configuration (optional - app works without it)
UPSTASH_REDIS_REST_URL=https://one-stallion-124864.upstash.io
UPSTASH_REDIS_REST_TOKEN=<YOUR_UPSTASH_REST_TOKEN_HERE>


# JWT Secret for cookie/session signing
JWT_SECRET=some_very_long_random_string_make_sure_it_is_secure_12345